body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

/* ------------- HEADER AREA ------------- */
header {
	display: flex;
	height: 3em;
	background-color: #e9e6e6;
}

.headerMain {
	flex: 1;
	text-align: center;
}

header h4 {
	margin: 1em;
}

header ul {
	flex: 1;
	text-align: center;
	padding: 0;
	margin: 1em;
}

header ul li {
	list-style: none;
}

header li > a {
	outline: none;
	text-decoration: none;
	color: #f55a13;
	font-size: 1.1em;
	text-align: center;
	margin: 0;
}

/* ------------- MAIN AREA ------------- */
main {
	background-color: #263d67;
}

.hero {
	display: flex;
	margin: 0 auto;
	width: 100vw;
	height: 50vw;
	background-image: url(../images/Burj-Al-Arab-Exterior.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 45vw;
}

.flex1 {
	flex: 1.2;
}

.flex2 {
	flex: 0.8;
}

form {
	margin: 55% auto;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.searchForm {
	background-color: #fff;
	width: 83%;
	padding: 1rem 2rem;
}

.action {
	padding-left: 40%;
}

select {
	width: 100%;
}

#formCity,
#roomType {
	background-color: #ececec;
}

#formCity,
#roomType,
#dateIn,
#dateOut {
	color: #747474;
}

#submitButton {
	background-color: #f55a13;
	color: #fff;
	border: 0.3em solid #f55a13;
	border-radius: 3px;
}

/* ------------- FOOTER AREA ------------- */
footer {
	width: 100%;
	height: 1.3em;
	background-color: #dddddd;
	border-top: 4px solid #999696;
	text-align: center;
	padding: 1.3em 0 0.4em 0;
	color: #747474;
}

footer > p {
	margin: 0;
}
