/* ------------- MAIN CONTAINER ------------- */
.header_mainContainer {
	height: 100vh;
	font-size: 0.8rem;
}

/* ------------- HEADER AREA ------------- */
header {
	background-colors: #e9e6e6;
	height: 7%;
	box-sizing: border-box;
	/* font-size: 0.8rem; */
}

.headerLeft,
.headerRight {
	margins: 3.6%;
	line-height: 4;
	background-color: #e9e6e6;
}

header h4 {
	margin: 0;
}

.headerRight {
	flex: 1;
	text-align: center;
}

.headerRight > a {
	color: #f55a13;
}

/* ------------- MAIN AREA ------------- */

.hero {
	box-sizing: border-box;
	background-image: url(../images/Burj-Al-Arab-Exterior1950.jpg);
	background-position: 65%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #364063;
	height: 88%;
	padding-top: 13%;
}

/* ------ Search Form ------ */

.searchForm {
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 9rem;
	padding: 0 1rem;
}

/* .searchArea {
	display: grid;
	grid-template-areas:
		"city roomType"
		"dateIn dateOut"
		"action action";
	grid-row-gap: 1em;
	grid-template-columns: 1fr 1fr;
}
 */
.city {
	grid-area: city;
}

.roomType {
	grid-area: roomType;
}

.dateIn {
	grid-area: dateIn;
}

.dateOut {
	grid-area: dateOut;
}

.action {
	grid-area: action;
	text-align: center;
}

.room,
.city,
.dateIn,
.dateOut,
.action {
	margin: 1.1rem 0;
}

#city,
#roomType,
.dateIn > label,
.dateOut > label,
#dateIn,
#dateOut,
#submitButton {
	font-size: 0.8rem;
}

#city {
	padding: 0.4rem 0 0.4rem 3rem;
}

#roomType {
	padding: 0.4rem 0 0.4rem 1.8rem;
}

#dateIn,
#dateOut {
	padding: 0.5rem 0.8rem 0.5rem 1.5rem;
}

#submitButton {
	padding: 0.3rem;
}

footer {
	box-sizing: border-box;
	height: 5%;
	padding-top: 2%;
}

/* ------------- MEDIA QUERIES ------------- */

/* ------------- 0-480px Mobile Phones & Tablet (Portrait) ------------- */
/* ------------- ALL THE ABOVE configuration ------------- */

/* ------------- 480-768px Mobile Phones & Tablet (Portrait) ------------- */
@media only screen and (min-width: 480px) {
	/* ------ Header ------ */

	.headerLeft h4,
	.headerRight a {
		font-size: 0.9rem;
	}

	.hero {
		height: 88%;
		padding-top: 11%;
	}

	/* ------ Search Form ------ */

	.searchForm {
		margin: 0 auto;
		padding: 1em 2rem;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 10rem;
	}

	.room,
	.city,
	.dateIn,
	.dateOut,
	.action {
		margin: 1rem 0;
	}

	#city {
		width: 100%;
		padding: 0.9rem 1rem 0.9rem 4rem;
	}

	#roomType {
		width: 100%;
		padding: 0.9rem 1rem 0.9rem 2.2rem;
	}

	.dateIn > label,
	.dateOut > label {
		font-size: 0.9rem;
	}

	#dateIn,
	#dateOut {
		padding: 0.8rem 1rem 0.8rem 1.2rem;
	}

	#city,
	#roomType,
	.dateIn > label,
	.dateOut > label,
	#dateIn,
	#dateOut,
	#submitButton {
		font-size: 1rem;
	}

	#submitButton {
		padding: 0.7rem;
	}
}
/* ------------- 769-1024px Tablet (Landscape) & Laptops (MDi) ------------- */
@media only screen and (min-width: 769px) {
	.headerLeft,
	.headerRight {
		margins: 2%;
	}
	header {
		height: 7%;
	}

	.hero {
		height: 88%;
		padding: 10% 0 0 0;
		background-position: 40%;
	}

	.searchForm {
		background-color: #fff;
		width: 22rem;
		padding: 0.5rem 3rem;
	}

	.searchArea {
		display: grid;
		grid-template-areas:
			"city roomType"
			"dateIn dateOut"
			"action action";
		grid-template-columns: 1fr 1fr;
	}

	.room,
	.city,
	.dateIn,
	.dateOut,
	.action {
		margin: 0.8em 0;
	}

	.city {
		grid-area: city;
	}

	.roomType {
		grid-area: roomType;
	}

	.dateIn {
		grid-area: dateIn;
	}

	.dateOut {
		grid-area: dateOut;
	}

	.action {
		grid-area: action;
	}
}

/* ------------- 1025px- Laptops (HDi) & Desktops ------------- */
@media only screen and (min-width: 1025px) {
	.hero {
		background-image: url(../images/Burj-Al-Arab-Exterior1950.jpg);
		height: 88%;
		padding: 9% 0 0 0;
		background-position: 30%;
	}

	.searchForm {
		width: 22rem;
		max-width: 25rem;
	}

	footer {
		padding: 1% 0 0 0;
	}
}

/* 
@media (max-width: 60em) {
	.header_mainContainer {
		max-width: 100%;
		margin: 0 auto;
	}
	.hero {
		background: url(../images/Burj-Al-Arab-Exterior.jpg) no-repeat center center;
		background-size: 100%;
		padding: 15% 0 35% 0;
	}
}

@media (max-width: 45em) {
	.header_mainContainer {
		max-width: 100%;
		margin: 0 auto;
	}
	.hero {
		background: url(../images/Burj-Al-Arab-Exterior.jpg) no-repeat center center;
		background-size: cover;
		padding: 40% 0 60% 0;
	}

	.searchForm {
		margin: 0 auto;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		max-width: 17em;
		width: 80%;
		padding: 1rem 2rem;
	}
} */
