/* ------------- HEADER AREA ------------- */
header {
	background-color: #e9e6e6;
}

header ul {
	text-align: center;
}

header li > a {
	color: #f55a13;
}


/* ------------- MAIN AREA ------------- */

.hero {
	background: url(../images/Burj-Al-Arab-Exterior.jpg) no-repeat center center;
	background-size: contain;
	padding: 15% 0 35% 0;
	background-color: #364063;
}

/* ------ Search Form ------ */

.searchForm {
	margin: 0 auto;
	padding: 1em 2rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 21em;

}

.searchArea {
	display: grid;
	grid-template-areas:
		"city roomType"
		"dateIn dateOut"
		"action action";
	grid-row-gap: 1em;
	grid-template-columns: 1fr 1fr;
}

.city {
	grid-area: city;
}

.roomType {
	grid-area: roomType;
}

.dateIn {
	grid-area: dateIn;
}

.dateOut {
	grid-area: dateOut;
}

.action {
	grid-area: action;
	text-align: center;
}

.city, .dateIn {
	margin: 0 2px;
}

#submitButton {
	padding: 0.7em;
}

/* ------------- MEDIA QUERIES ------------- */

@media (max-width: 60em) {
	.header_mainContainer {
		max-width: 100%;
		margin: 0 auto;
	}
	.hero {
		background: url(../images/Burj-Al-Arab-Exterior.jpg) no-repeat center center;
		background-size: 100%;
		padding: 15% 0 35% 0;
	}
}

@media (max-width: 45em) {
	.header_mainContainer {
		max-width: 100%;
		margin: 0 auto;
	}
	.hero {
		background: url(../images/Burj-Al-Arab-Exterior.jpg) no-repeat center center;
		background-size: cover;
		padding: 40% 0 60% 0;
	}

	.searchForm {
		margin: 0 auto;
		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fff;
		max-width: 17em;
		width: 80%;
		padding: 1rem 2rem;
	}
}
